* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arimo", sans-serif;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #393939;
    color: #f3f3f3;
    padding: 2em .5em;
}

header h1 {
    font-size: 1.25em;
    font-weight: 700;
}

