<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Task Manager App</h1>
        </header>

        <section>
            <h1>Task List</h1>
            <div class="task-container">
                {% for task in tasklist %}
                <div class="task">
                    <h2>{{task[0]}}</h2>
                    <i>{{task[2]}}</i>
                    <p>{{task[1]}}</p>
                </div>
                {%endfor%}
            </div>
        </section>
        <section>
            <div class="form-container">
                <h1>Add Task</h1>
                <form>
                    <input class="title">Title</input>
                    <input class="">Time Estimation</input>
                    <input class=""></input>
                    <button class="submit-btn"></button>
                </form>
                </div>
        </section>
    </body>
</html>