<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <h1>Task Manager App</h1>
        </header>
        <div class="content-container">
        <section id="main">
            
            <div class="task-container">
                
                {% for task in tasks %}
                {% set rowid = task[0] %}
                {% set name = task[1] %}
                {% set due_date = task[2] %}
                {% set time = task[3] %}
                {% set est_time = task[4] %}
                {% set priority = task[5] %}
                {% set isComplete = task[6] %}

                <div class="task">
                    <input class="complete-checkbox" type="checkbox" data-id="{{rowid}}" {% if task.complete %} checked {% endif %}></input>

                    <div class="task-content {%if task.complete %}done{% endif %}">
                        <i>Task ID: {{rowid}}</i>
                        <h2>{{name}}</h2>
                        <p>Due: {{due_date}} {{time}}</p>
                        <p>Est. task time: {{est_time}}</p>
                        <p>Priority: {{priority}}</p>
                    </div>
                <div class="btns-box">
                    <i class="edit-task fa-solid fa-pencil" data-id="{{rowid}}"></i>
                    <i class="delete-task fa-solid fa-trash" data-id="{{rowid}}"></i>
                </div>
                </div>
                
                {%endfor%}
            </div>
        </section>
        <section class="addTask">
            <div class="form-container">
                <h1>Add Task</h1>
                <form id="newTask">
                    <input id="title" placeholder="Title"></input>
                    <input id="due_date" type="date" placeholder="Due Date"></input>
                    <input id="time" type="time" placeholder="Time"></input>
                    <input id="time_est" placeholder="Time Estimation in Hours"></input>
                    <label for="priority">Priority</label>
                        <select name="priority" id="priority">
                            <option value="Highest">Highest</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                            <option value="Lowest">Lowest</option>
                        </select>
                    <button class="addTask-btn">Submit</button>
                </form>
                </div>
        </section>
        </div>
    
    <script src="/static/js/task-ui.js"></script>
    </body>
</html>